
<ion-header>

  <ion-navbar>
    <ion-title>quote</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card *ngFor="let quote of quotes">
      <ion-item>
          <ion-avatar item-start>
            <img src="">
          </ion-avatar>
          <h2>{{quote.person}}</h2>
        </ion-item>
    <ion-card-content>
      <br>
      <p> {{quote.text}}</p>
    </ion-card-content>
    <ion-row text-right>
      <ion-col>
        <button ion-button clear small (click)="favoriteQuote(quote)" *ngIf="!isQuoteFavorite(quote)">
          Favorite
        </button>
        <button ion-button clear small color="danger" (click)="unfavoriteQuote(quote)" *ngIf="isQuoteFavorite(quote)">
            Unfavorite
          </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
